body {
  font-family: Apple Chancery, cursive;
  margin: 40px;
  background-color: white;
  color: black;
}

nav {
  margin-bottom: 30px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}
